:root {
  --bg-focus: #bcd8f8;
  --bg-break: #cdf2f0;
  --main-text: #005568;
  --button: #137591;
  --button-hover: #287e79;
}

body {
  background: var(--bg-focus);
  font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10;
  transition: background 0.5s ease;
}

.column-left, .column-right {
    padding-top: 50px;
    padding-bottom: 50px;

  display: inline-block;
  vertical-align: middle;
  width: 48%;
}

.container {
  text-align: center;
}

h1 {
    padding-top: 11%;
  margin-bottom: 10px;
  color: rgb(3, 73, 79);
}

.character {
  width: 600px;
  padding-bottom: 50px;
  margin-top: 100px;
  margin-bottom: 10px;
  border-width: 0.1cm;
  border-color: #000000;
  transition: transform 0.3s ease;  
}

.timer {
  font-size: 8em;
  margin-bottom: 10px;
  color: var(--main-text);
}

.controls button {
  margin: 5px;
  padding: 10px 30px;
  font-size: 2em;
  color: #ffffff;
  background: var(--button);
  border: 8px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
}

.controls button:hover {
  background: var(--button-hover);
}

.toggle {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 15px;
  background: #9cd176;
  border: 8px solid #ffffff;
  border-radius: 40px;
  font-size: 1em;
  color: #ffffff;
  cursor: pointer;
  background: var(--button-hover) ;
}
